.container-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-add {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.EquipementListPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px 0;
  background-color: #154945;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
}

.page-link:disabled {
  color: #6c757d;
  pointer-events: none;
}
