.equipement-details form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.equipement-details form > div {
  margin: 10px 0;
}

.equipement-details label {
  color: white;
  font-weight: bold;
}

.equipement-details textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  margin: 5px 0;
}
/*
.equipement-details {
  background-color: red;
}*/

.equipement-details select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  margin: 5px 0;
}

.equipement-details button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
.equipement-details h3 {
  color: whitesmoke;
}

.equipement-details button:hover {
  background-color: darkblue;
}
.button {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 2px 4px;
}
.submit-button {
  background-color: #ff4136;
  color: #fff;
}
.delete-button {
  background-color: #ff4136;
  color: #fff;
}

.edit-button {
  background-color: #0074d9;
  color: #fff;
}

.commentaires-container {
  background-color: #154945;
  padding: 20px;
  margin-top: 20px;
}

.commentaires-container p {
  color: whitesmoke;
}

#comment,
#rating {
  color: black;
}
