.Equipement-item {
  width: 18rem;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.Equipement-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
  text-align: left;
}

.card-title {
  color: #0d1013;
  size: 105px;
}

.card-text {
  color: #000;
  size: 9px;
}
p {
  color: #000;
  size: 9px;
}
.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.link-blue .p {
  color: #007bff;
}
